<!doctype html>
<!-- -*- mode: html; tab-width: 2 -*- -->
<!-- @license Copyright (C) 2016 Endless PRO. All Rights Reserved. -->
<html lang="{{ LANGUAGE_CODE }}">
<head>
  <!-- HTML Meta -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{% block meta_description %}{% endblock meta_description %}">
  <title>{% block meta_title %}{% endblock meta_title %}</title>

  <!-- Web Application Manifest -->
  <link rel="manifest" href="/manifest.json">

{% block head_compat %} {# device specific meta settings #}
  <!-- Chrome for Android theme color -->
  <meta name="theme-color" content="{% block meta_theme_color %}{% endblock meta_theme_color %}">

  <!-- Tile for Windows 8+ -->
  <meta name="msapplication-TileColor" content="{% block meta_title_color %}{% endblock meta_title_color %}">
  <meta name="msapplication-TileImage" content="{{ 'images/logo/icon-144-big.png' | static }}"> {# TODO: Icon 144x144 #}

  <!-- Add to homescreen for Chrome on Android -->
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="application-name" content="{% block meta_name_short %}{% endblock meta_name_short %}">
  <link rel="icon" sizes="192x192" href="{{ 'images/logo/icon-192-big.png' | static }}"> {# TODO: Icon 192x192 #}

  <!-- Add to homescreen for Safari on iOS -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="{% block meta_name %}{% endblock meta_name %}">
  <link rel="apple-touch-icon" href="{{ 'images/logo/apple-touch-icon-big.png' | static }}"> {# TODO: Icon apple-touch #}

{% endblock head_compat %}
{% block head_css %}
    {% stylesheet 'main' %}
{% endblock head_css %}
{% block head_scripts %}
    {% javascript 'top' %}
{% endblock head_scripts %}
</head>
<body>
<top-login-register></top-login-register>
<login-form></login-form>
<register-form></register-form>

{% block body %}
  {% block content %}
  <h1>Base Template Warning</h1>
  <p>Note: Don't use this template - extend it!</p>
  {% endblock content %}
{% endblock body %}
{% block body_scripts %}
  {% javascript 'riot_components' %}

  <script type="text/javascript">
    var page_actions = Reflux.createActions(["login", "register"]);

    riot.mount('top-login-register', {
      {% if request.user.is_authenticated() %}
      'profile': {
        'username': '{{ user.get_username() }}',
        'hide_username': {{ 'true' if request.user.contacts.hide_username else 'false' }},
      },
      {% endif %}
      'actions': page_actions,
    });

    function nop() {}

    page_actions.login.listen(function () {
      riot.mount('login-form');
    });
    page_actions.register.listen(function () {
      riot.mount('register-form');
    });
  </script>
{% endblock body_scripts %}
</body>
</html>
