{% extends "page.jinja" %}

{% block body %}
<rg-drawer></rg-drawer>
<script>
var tag = riot.mount('rg-drawer', {
drawer: {
  header: 'Drawer',
  isvisible: true,
  position: 'top|right|bottom|left',
  items: [{
    id: 1,
    text: 'Item 1'
  }, {
    id: 2,
    text: 'Item 2'
  }]
}
})
tag[0].on('select', function (item) {
alert(JSON.stringify(item))
})
</script>
  {% for element in elements %}
      {{ element.render() | safe }}
  {% endfor %}

{% endblock body %}
