{% extends "base.jinja" %}


{% block meta_title -%}
    {{ meta.app.title }}
{%- endblock meta_title %}


{% block meta_theme_color -%}
    {{ meta.app_colors.theme_color }}
{%- endblock meta_theme_color %}

{% block meta_title_color -%}
    {{ meta.app_colors.title_color }}
{%- endblock meta_title_color %}

{% block meta_name_short -%}
    {{ meta.manifest.name_short }}
{%- endblock meta_name_short %}

{% block meta_name -%}
    {{ meta.manifest.name }}
{%- endblock meta_name %}

{% block body %}
  {{ content | safe }}
{% endblock body %}
