{% extends "base.jinja" %}

{% block meta_title -%}Confirm E-mail Address{%- endblock meta_title %}

{% block meta_name_short -%}Confirm E-mail Address{%- endblock meta_name_short %}

{% block meta_name -%}Confirm E-mail Address{%- endblock meta_name %}

{% block body %}
    <h1>Confirm E-mail Address</h1>

    {% if confirmation %}
        <p>Please confirm that <a href="mailto:{{ request.user.email }}">{{ request.user.email }}</a> is an e-mail address for user {{ request.user.username }}.</p>

        <form method="post" action="{% url('account_confirm_email', confirmation.key) %}">
            <input
                type="hidden"
                name="csrfmiddlewaretoken"
                value="{{ csrf_token }}"
            />
            <button type="submit">Confirm</button>
        </form>

    {% else %}
        <p>This e-mail confirmation link expired or is invalid. Please <a href="{{ url('email_url') }}">issue a new e-mail confirmation request</a>.</p>

    {% endif %}
{% endblock body %}
