{% extends "base.jinja" %}

{% block meta_title -%}Account{%- endblock meta_title %}

{% block meta_name_short -%}Account{%- endblock meta_name_short %}

{% block meta_name -%}Account{%- endblock meta_name %}

{% block body %}
    <h1>Account</h1>

    <p>TBD</p>
{% endblock %}
