{% extends "base.jinja" %}

{% block meta_title -%}Login{%- endblock meta_title %}

{% block meta_name_short -%}Login{%- endblock meta_name_short %}

{% block meta_name -%}Login{%- endblock meta_name %}

{% block body %}
<div class="container container--xsmall">
    <form
        id="login_form"
        action="{{ url('account_login') }}"
        enctype="multipart/form-data"
        method="post"
    >
        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}" />

        {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}

        {% for hidden in form.hidden_fields() %}
            {{ hidden }}
        {% endfor %}

        <fieldset class="fieldset">
            <div class="form-element">
                <label
                    class="label"
                    for="{{ form['login']['id_for_label'] }}">
                    {{ form['login']['label'] }}:
                </label>
                <input
                    id="{{ form['login']['id_for_label'] }}"
                    name="{{ form['login']['html_name'] }}"
                    type="text"
                    class="field"
                    placeholder="{{ form['login']['help_text'] }}"
                />
            </div>
            <div class="form-element">
                <label
                    class="label"
                    for="{{ form['password']['id_for_label'] }}">
                    {{ form['password']['label'] }}:
                </label>
                <input
                    id="{{ form['password']['id_for_label'] }}"
                    name="{{ form['password']['html_name'] }}"
                    type="password"
                    class="field"
                    placeholder="{{ form['password']['help_text'] }}"
                />
            </div>
            <div class="form-element">
                <label class="label">
                    <input
                        name="{{ form['remember']['html_name'] }}"
                        type="checkbox"
                    />
                    {{ form['remember']['label'] }}
                </label>
            </div>
        </fieldset>

        <button
            type="submit"
            class="button button--primary button--block"
        >
            Log In
        </button>
    </form>
</div>
{% endblock body %}
