{% extends "base.jinja" %}

{% block meta_title -%}Register{%- endblock meta_title %}

{% block meta_name_short -%}Register{%- endblock meta_name_short %}

{% block meta_name -%}Register{%- endblock meta_name %}


{% macro errors(errors) -%}
    {% if errors %}
    <ul class="list">
        {% for error in errors %}
        <li class="list__item">{{ error }}</li>
        {% endfor %}
    </ul>
    {% endif %}
{%- endmacro %}

{% macro input(field, type='text') -%}
    <div class="form-element">
        <label
            class="label"
            for="{{ field.id_for_label }}">
            {{ field.label }}:
        </label>
        <input
            id="{{ field.id_for_label }}"
            name="{{ field.html_name }}"
            type="{{ type }}"
            class="field {{ 'field--error' if field.errors else '' }}"
            placeholder="{{ field.help_text }}"
            {% if type != 'password' and field.value() %}
            value="{{ field.value() }}"
            {% endif %}
        />
        {{ errors(field.errors) }}
    </div>
{%- endmacro %}


{% block body %}
<div class="container container--xsmall">
    <form
        id="signup_form"
        action="{{ url('account_signup') }}"
        enctype="multipart/form-data"
        method="post"
    >
        <input
            type="hidden"
            name="csrfmiddlewaretoken"
            value="{{ csrf_token }}"
        />

        {% if redirect_field_value %}
            <input
                type="hidden"
                name="{{ redirect_field_name }}"
                value="{{ redirect_field_value }}"
            />
        {% endif %}

        {% for hidden in form.hidden_fields() %}
            {{ hidden }}
        {% endfor %}

        {{ errors(form.non_field_errors()) }}

        <fieldset class="fieldset">
            {{ input(form['username']) }}
            {{ input(form['email'], 'email') }}
            {{ input(form['password1'], 'password') }}
            {{ input(form['password2'], 'password') }}
        </fieldset>

        <button
            type="submit"
            class="button button--primary button--block"
        >
            Sign Up
        </button>
    </form>
</div>
{% endblock body %}
