{% extends "base.jinja" %}

{% block meta_title -%}Verify Your E-mail Address{%- endblock meta_title %}

{% block meta_name_short -%}Verify Your E-mail Address{%- endblock meta_name_short %}

{% block meta_name -%}Verify Your E-mail Address{%- endblock meta_name %}

{% block body %}
    <h1>Verify Your E-mail Address</h1>

    <p>We have sent an e-mail to you for verification. Follow the link provided to finalize the signup process. Please contact us if you do not receive it within a few minutes.</p>
{% endblock body %}
