<html>
    <head>
        {% stylesheet 'main' %}
        {% javascript 'top' %}
    </head>
    <body>
        {% block content %}
        {% endblock %}
        {% javascript 'riot_components' %}
        <script type="text/javascript">
            riot.mount('*');
        </script>
    </body>
</html>
