{% extends "sandbox/base.jinja" %}


{% block content %}

    <top-menu></top-menu>

    <div class="modal">
        <header class="modal__header">
            <button type="button" class="button button--close">×</button>
            <h3 class="heading heading--small">Modal heading</h3>
        </header>

        <div class="modal__body">


        </div>

        <footer class="modal__footer">
            <button type="button" class="button button--primary">Close</button>
        </footer>
    </div>
{% endblock %}
