{% set lang = get_language_info(LANGUAGE_CODE) %}
{#FIXME: wide button, flags #}
<dom-module id="languages-menu-button">
  <template>
    <style>
      paper-item span {
        padding: 0 10px;
      }
    </style>
    <paper-menu-button>
      <paper-item class="dropdown-trigger">
        <iron-icon icon="translate"></iron-icon>
        <span>{{ lang.name_local }}</span>
      </paper-item>
      <paper-menu class="dropdown-content">
        {% for lang_code, lang_name in LANGUAGES %}
          {% set lang = get_language_info(lang_code) %}
          {#FIXME: selected doesn't work for paper-item #}
          <a href="{{ url('lang') }}?hl={{ lang_code }}">
            <paper-item role="option" {% if LANGUAGE_CODE == lang_code %}selected="true"{%endif%}>
              {{ lang.name_local }}
            </paper-item>
          </a>
        {% endfor %}
      </paper-menu>
    </paper-menu-button>
  </template>
  <script>
  Polymer({
    is: "languages-menu-button",
  });
  </script>
</dom-module>
